@model AmdmWeb.Models.Song.SongPageModel
@{
    ViewBag.Title = "Song";
}

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/client-server.js"></script>

<script>  
    
    
    $(function () {

        var url = window.location.href;
        var ajaxURL = '@Url.Action("SongMain","Song")';
        var splitedURL = url.split("=");
        if (splitedURL.length > 2) {
            var id = splitedURL[1].split("&")[0];
            var sortType = splitedURL[2].split("&")[0];
            if (splitedURL.length > 3) {
                var number = splitedURL[3];
            }
            else {
                var number = "1";
            }
        }
        else {
            var id = splitedURL[1];
            var sortType = "ByName";
            var number = "1";
        }

        history.replaceState(null, null, 'Song?performerId=' + id + '&amp;s=' + sortType + '&amp;songNumber=' + number);


        $.ajax({
            type: "Get",
            url: ajaxURL,
            data: { performerId: id, s: sortType, songNumber: number },
            dataType: 'html',
            success: function (data) {

                $('#song').html(data);
            },
            replace: song

        });
    });

</script>
<div id="alertDiv">

</div>

<div id="song"></div>




