@Model List<AMDM1.Controllers.Performer>
@{
        ViewBag.Title = "Home Page";
 }
 
               <br />
@foreach (var per in Model)
{
  
    <a href='@Url.Action("Performer", "Home", new { per.Id })'> @per.Name @per.Songs.Count </a>  
    <br />
}





