@{
    ViewBag.Title = "Home Page";
}
<asp:ListView runat="server" ID="ListView1"
              DataSourceID="SqlDataSource1"
              GroupItemCount="5">
    <LayoutTemplate>
        <table runat="server" id="table1">
            <tr runat="server" id="groupPlaceholder"></tr>
        </table>
    </LayoutTemplate>
    <GroupTemplate>
        <tr runat="server" id="tableRow">
            <td runat="server" id="itemPlaceholder" />
        </tr>
    </GroupTemplate>
    <ItemTemplate>
        <td runat="server">
            <%-- Data-bound content. --%>
            <asp:Label ID="NameLabel" runat="server"
                       Text='<%#Eval("Name") %>' />
        </td>
    </ItemTemplate>
</asp:ListView>