@Model AMDM1.Controllers.Performer
    @{
        ViewBag.Title = "Performer";
    }
<br />

    <h2>@Model.Name</h2>
    <img src=@Model.ImageLink />
    @Model.BiographyText

<br />
    

    @foreach (var song in Model.Songs)
    {

        <a href='@Url.Action("Song", "Home", new { song.Id })'> @song.Name </a>
                <br />
    }

