
@{
    ViewBag.Title = "Song";
}

<div>
    <h2>@Model.Name</h2>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Edit</button>

    
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>       
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" value="@Model.Name" id="name">
                    </div>             
                   
                </div>
                <div class="modal-body">
                    
                    <div class="form-group">  
                        <label for="text">Text:</label>                      
                        <textarea class="form-control" rows="20" cols="50" id="text"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>




<div id="carousel-example-generic" class="carousel slide col-lg-12">
   
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <table>
                <tr>
                    <td>
                        @Model.Text
                    </td>
                    <td>
                        @foreach (var chord in Model.Chords)
                        {
                            <h6>@chord.Name</h6>
                            <img src=@chord.ImageLink />
                        }
                    </td>
                </tr>
            </table>            
        </div>        
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



